@charset "UTF-8";
/* CSS Document */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #fdf9f9;
}

#container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'IM Fell Double Pica', serif;
    text-align: center;
    color: #a46a37;
}
#header {
    min-height: 10vh;
}
#nav {
    min-height: 5vh;
    word-spacing: 1em;
}
#nav a:hover {
    color: #7c461e;
}
.text {
    text-decoration: none;
    font-family: 'IM Fell Double Pica', serif;
    color: #a46a37;
}
/* Dropdown Button */
.dropbtn {
    border-style: hidden;
	background: no-repeat;
    font-family: 'IM Fell Double Pica', serif;
    font-size: 1em;
    color: #a46a37; 
}

.dropbtn:hover {
    color: #7c461e;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;	
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fdf9f9;
    opacity: 0.9;
    z-index: 1;
    text-align: center;
}
/* Links inside the dropdown */
.dropdown-content a {
    padding: 4px 3px;
    text-decoration: none;
    display: block;
    text-align: center;
    word-spacing: normal;
    color: #a46a37;
    font-size: 1em;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #c6ab94;}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
#main {
    min-height: 65vh;
    background-color: rgba(167, 174, 159, 0.5);
}
.overskrift {
    font-size: 1.5em;
    padding-top: 1em;
    color: #A46A37;
} 
.portrait {
    width: 60%;
    display: block;
    margin: 0 auto;
}

.profiltekst {
    width: 60%;
    color: #303030;
    display: block;
    text-align: left; 
    margin: 0 auto;
}

#footer {
    min-height: 5vh;
    width: 100%;
}

#footer img {
    height: 5vh;
    transition: all .2s ease-in-out;
}

#footer img:hover {
    transform: scale(1.1);
}

/*Her begynder skillbar-css*/
.kompetencer {
    width: 60%;
    margin: 0 auto;
    padding: 1em;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.skill {
    width: 100%; /* Full width */
    background-color: #fdf9f9; /* Grey background */
    border-radius: 40px;
}

.skills {
    text-align: right; /* Right-align text */
    padding: 1%; /* Add some padding */
    border-radius: 40px;
    color: #303030;
    transition: all .2s ease-in-out;
}

.skills:hover {
    transform: scale(1.1);
}

p {
    color: #303030;
}

.html {width: 55%; background-color: #A7AE9F;}
.css {width: 55%; background-color: #A7AE9F;}
.js {width: 40%; background-color: #A7AE9F;}
.photoshop {width: 65%; background-color: #A7AE9F;}
.illu {width: 75%; background-color: #A7AE9F;}
.dream {width: 65%; background-color: #A7AE9F;}
.xd {width: 90%; background-color: #A7AE9F;}



#kompe {
    text-align: left;
}

.final {
    width: 60%;
    text-align: left;
    margin: 0 auto;
    padding-bottom: 1em;
}

a {
    color: #303030;
}

#headerimg {
    width: 70%;
}

@media (max-width: 800px) {
    #headerimg {
        width: 600px;
    }
}

@media (max-width: 480px) {
    #headerimg {
        width: 300px;
    }
    .kompetencer {
        width: 75%;
    }
}